/* basic styles */
:root {
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Raleway', sans-serif;
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: var(--slate);
    font-size: 16px;
    background-color: var(--white);
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
    color: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

button {
    font-family: inherit;
    padding: 0;
    border: none;
    cursor: pointer;
}

.section {
    padding: 96px 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #region first mobile */

/* #region header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menu-list,
.header-contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
    ;
}

.menu-burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-menu {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
    .menu-burger {
        display: none;
    }

    .menu-list {
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .menu-nav {
        display: flex;
        align-items: center;
    }

    .menu-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link.active {
        position: relative;
        color: #404bbf;
    }

    .menu-link.active::after {
        content: '';
        border-radius: 2px;
        height: 4px;
        background: #404bbf;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
    }

    .menu-link:hover,
    .menu-link:focus,
    .menu-link.active,
    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }

}

@media screen and (min-width:1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 100%;
    align-items: start;
    padding: 72px 24px 40px 16px;
    margin: 0 auto;


}

.menu-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    padding: 0;
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-item {
    display: block;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-item {
    display: block;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.active {
    color: #404bbf;
}

.social-list {
    display: flex;
    gap: 40px;
}

.list-icons {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #region hero */

.section-hero {
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/bg-img/bg-mob-min.jpg);
    background-repeat: no-repeat;
    background-color: #2e2f42;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-img/bg-mob@2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: #404BBF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width:768px) {

    .section-hero {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-img/bg-tab-min.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:768px) {
    .section-hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-img/bg-tab@2x.jpg);
    }
}



@media screen and (min-width:1156px) {
    .section-hero {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-img/bg-desk-min.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:1156px) {
    .section-hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-img/bg-desk@2x.jpg);
    }
}

.hero-title {
    margin-bottom: 48px;
}

/* #endregion hero */

/* #region section 1 */

.section-features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-container {
    display: flex;
    align-items: center;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

}

.features-item {
    width: 100%;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.features-icons {
    display: none;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

@media screen and (min-width:768px) {
    .features-list {
        column-gap: 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: start;
    }

}

@media screen and (min-width:1158px) {
    .section-features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        gap: 24px;
        align-items: center;
    }

    .features-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .features-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        background-color: #f4f4fd;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .icons {
        display: block;
        margin: 24px auto;
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .features-text {
        font-weight: 400;
    }

}

/* #endregion section 1 */

/* #region section 2 */

.section-team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
}

.team-item {
    min-width: 264px;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-content {
    background-color: #fff;
    padding: 32px 0;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.team-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: auto;
}

.list-icons {
    display: flex;
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
    fill: #f4f4fd;
}

.social-link:focus,
.social-link:hover {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .section-team .container {
        padding: 0 108px;
    }

    .team-list {
        column-gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px * 1) / 2);
    }

}

@media screen and (min-width:1158px) {
    .section-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-team .container {
        padding: 0 15px;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .social-link:focus,
    .social-link:hover {
        background-color: #404BBF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* #endregion section 2 */

/* #region section 3 */

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 48px;
}

.portfolio-item {
    width: 100%;
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-card-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-overlay {
    display: none;
}

@media screen and (min-width: 768px) {

    .portfolio-list {

        column-gap: 24px;
        row-gap: 72px;
    }


    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width:1158px) {
    .section-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 2 * 24px) / 3);
        background-color: #fff;
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .port-img-overlay {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }


    .text-overlay {
        display: flex;
        color: #f4f4fd;
        background-color: #4D5AE5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .portfolio-item:hover .text-overlay {
        transform: translateY(0);
    }

    .portfolio-item:hover,
    .portfolio-item:focus-visible {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/* #endregion section 3 */

/* #region footer */
.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}


.footer-part-logo {
    margin-bottom: 72px;
}

.footer-logo {
    display: block;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.footer-social-title {

    font-weight: 500;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.icons-items {
    width: 40px;
    height: 40px;
}

.items-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons {
    fill: #f4f4fd;
}

.items-link:focus,
.items-link:hover {
    background-color: #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.text-input-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.input-footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    outline: none;
    background-color: transparent;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 0 8px 16px;

    opacity: 0.3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer::placeholder {
    color: #fff;
}

.btn-footer-mail {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-telegram {
    fill: #fff;
    margin-left: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {

    .footer .footer-container {
        margin: 0 auto;
        padding: 0 108px;
    }

    .box {
        display: flex;
        column-gap: 24px;
        margin-bottom: 72px;
    }


    .footer-logo {
        display: inline-block;
    }

    .footer-part-logo {
        margin: 0;
    }

    .footer-text {
        width: 264px;
    }

    .footer-social {
        margin: 0;
    }

    .footer-social-title {
        display: block;
        margin-bottom: 16px;
    }

    .form-footer {
        gap: 24px;
        justify-content: flex-start;
    }

    .text-input-footer {
        text-align: start;
    }

    .input-footer {
        width: 264px;
    }

    .label-footer {
        width: 264px;
    }


}

@media screen and (min-width:1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer .footer-container {
        display: flex;
        padding: 0 15px;
    }


    .box {
        margin: 0;
        margin-right: 80px;
        column-gap: 0;
    }

    .footer-part-logo {
        margin-right: 120px;
    }

    .footer-logo {
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
        width: 115px;
    }


    .footer-social {
        margin: 0 auto;
    }


    .text-input-footer {
        text-align: start;
    }

    .input-footer {
        opacity: 1;
    }

    .input-footer:focus {
        border-color: #4d5ae5;
    }

    .btn-footer-mail:hover,
    .btn-footer-mail:focus {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #404bbf;
    }

    .icon-telegram:hover,
    .icon-telegram:focus {
        fill: #f4f4fd;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-style 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* #endregion footer */


/* #region form-modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    width: 288px;
    min-height: 623px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
    fill: #fff;
}

.text-modal {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
}

.form-modal {
    display: flex;
    flex-direction: column;
}

.cont-modal {
    margin-bottom: 8px;
}

.label-form {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: #8e8f99;
}

.input-cont {
    display: flex;
    position: relative;
}

.icons-modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal {
    display: block;
    width: 360px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
    color: #2e2f42;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:hover {
    border: 1px solid #4d5ae5;
}

.input-modal:hover+.icons-modal {
    fill: #4d5ae5;
}

.input-modal:focus-within {
    border: 1px solid #4d5ae5;
}

.input-modal:focus-within+.icons-modal {
    fill: #4d5ae5;
}

.cont-area {
    margin-bottom: 16px;
}

.textarea {
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus {
    border-color: #4d5ae5;
}

/* checked */

.cont-checkbox {
    margin-bottom: 24px;
}

.cust-checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-color: transparent;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-yes {
    fill: #f4f4fd;
}

.input-check:checked+.label-checkbox>.cust-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.label-checkbox {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}

.privacy-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    color: #4d5ae5;
}

.btn-form {
    display: block;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    padding-top: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover,
.btn-form:focus {
    background-color: #404bbf;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(1.5);
}

@media screen and (min-width:768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }

    .textarea {
        width: 360px;
    }
}

@media screen and (min-width:1158px) {

    .btn-close:hover,
    .btn-close:focus {
        border: none;
        background-color: #404BBF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-close:hover .icon-close,
    .btn-close:focus .icon-close {
        fill: #FFFFFF;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* #endregion form-modal */